body{
    font-family: sans-serif;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.appointment-form{
    max-width: 600px;
    margin:2rem auto;
    border:2px solid #E74C3C;
    padding:2rem;
    border-radius:5px;
}

select{
    display:block;
    width:100%;
    border:2px solid #2980B9;
    padding:.5rem;
    font-size:18px;
    border-radius:5px;
}
.rows{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

input {
    display: block;
    text-align: center;
    max-width: 250px;
    margin:1rem auto;
    padding: .5rem;
    font-size: 18px;
    border-radius: 5px;
}

.col-md-2{
    display: inline-block;
    text-align: center;
    margin:0 auto;
    padding: .5rem;
    border-radius: 5px;
}

.col-md-4{
    align-items: center;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

label{
    display:block;
    padding:1rem 0 .25rem;
    font-size:14px;
}

#form_label{
    margin: auto;
    font-size: large;
    display: block;
    text-align: center;
    line-height: 150%;
}

.table{
    backface-visibility: hidden;
}

tr{
    backface-visibility: visible;
    background-color: azure;
}