body{
    margin:0;
    font-family: sans-serif;
}

.foo {
    position: static;
    left:0%;
    border: 5px solid;
    display: flex;
    justify-content: center;
  }

#success-message {
    display: none;
}
  
#success-message.show {
    display: block;
}

#error-message {
    display: none;
}
  
#success-message.show {
    display: block;
}  

input:valid,
textarea:valid {
    background-color:rgb(211, 240, 211);
}
input:invalid,
textarea:invalid {
    background-color:lightgoldenrodyellow;
}    