<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>
</head>
<body>

    <form name = 'appointment_form'  method="post" >
        {{ hospital_form.csrf_token() }} 
        {{ hospital_form.all_hospitals }} <br>
        {{ clinic_form.clinics }}         <br>
        {{ doctor_form.doctors }}
    </form>    


    <div class="row">
        <div class="col-md-2">
            <input type="text" name="From" id="From" class="form-control" placeholder="Date"/>
        </div>
        <div class="col-md-8">
            <input type="button" name="range" id="range" value="Range" class="btn btn-success"/>
        </div>
        <div class="clearfix"></div>
        <br/>
        </div>
        <div id="available_appointments">
        <table class="table table-bordered">
            <tr>
            <th width="24%">Hospital</th>
            <th width="19%">Clinic</th>
            <th width="19%">Doctor</th>
            <th width="19%">Available Date</th>
            <th width="19%">Available Time</th>
            </tr>
            {% for row in orders %}
            <tr>
                <td>{{row.id}}</td>
                <td>{{row.customer_name}}</td>
                <td>{{row.purchased_items}}</td>
                <td>{{row.purchased_date}}</td>
                <td>$ {{row.price}}</td>
            </tr>
            {% endfor %}
        </table>
        
        </div>
    
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script>
    $('table').on('click', function(){
        var tmp = this;
       tmp = tmp.value;
       alert(tmp);
    });
</script>
<script>

    $(document).ready(function(){
    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd'
    });
    $(function(){
        $("#From").datepicker();
        $("#to").datepicker();
    });
    $('#range').click(function(){
        var From = $('#From').val();
        var to = $('#to').val();
        var doctor = document.getElementById('doctors').value
        if(From != '' && to != ''&& doctor !='')
        {
            let url = '/range/'+doctor
            $.ajax({
                url:url,
                method:"POST",
                data:{From:From, to:to},
                success:function(data)
                {
                    $('#available_appointments').html(data);
                    $('#available_appointments').append(data.htmlresponse);
                }
            });
        }
        else
        {
            alert("Please Select the Date and the Doctor");
        }
    });
});
</script>

<script>
    let hospital_select = document.getElementById('all_hospitals') 
    let clinic_select = document.getElementById('clinics')
    let doctor_select = document.getElementById('doctors')
    
    hospital_select.onchange = function(){
        update_clinic();
    }

    clinic_select.onchange = function(){
        update_doctor();
    }


    

    function update_doctor(){
        hospital = hospital_select.value
        clinic = clinic_select.value;

        fetch('/appointment/'+hospital+'/'+clinic).then(function(response){
            response.json().then(function(data){
                let optionHTML = '';
                for(let doctor of data.doctors){
                    optionHTML +='<option value="'+ doctor.doctor_id + '">' + doctor.full_name+ '</option>';
                }
                doctor_select.innerHTML = optionHTML
            });
        });
    }

    function update_clinic(){
        hospital = hospital_select.value;

        fetch('/appointment/'+hospital).then(function(response){
            response.json().then(function(data){
                let optionHTML = '';
                for(let clinic of data.clinics){
                    optionHTML +='<option value="'+ clinic.clinic_number + '">' + clinic.clinic_name+ '</option>';
                }
                clinic_select.innerHTML = optionHTML;
            });

        });
    }
</script>

</html>