<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form name = 'appointment_form'  method="post" >
        {{ hospital_form.csrf_token() }} 
        {{ hospital_form.all_hospitals }} <br>
        {{ clinic_form.clinics }}         <br>
        {{ doctor_form.doctors }}
    </form>    
    
</body>

<script>
    let hospital_select = document.getElementById('all_hospitals') 
    let clinic_select = document.getElementById('clinics')
    let doctor_select = document.getElementById('doctors')
    
    hospital_select.onchange = function(){
        update_clinic();
    }

    clinic_select.onchange = function(){
        update_doctor();
    }


    

    function update_doctor(){
        hospital = hospital_select.value
        clinic = clinic_select.value;

        fetch('/appointment/'+hospital+'/'+clinic).then(function(response){
            response.json().then(function(data){
                let optionHTML = '';
                for(let doctor of data.doctors){
                    optionHTML +='<option value="'+ doctor.doctor_id + '">' + doctor.full_name+ '</option>';
                }
                doctor_select.innerHTML = optionHTML
            });
        });
    }

    function update_clinic(){
        hospital = hospital_select.value;

        fetch('/appointment/'+hospital).then(function(response){
            response.json().then(function(data){
                let optionHTML = '';
                for(let clinic of data.clinics){
                    optionHTML +='<option value="'+ clinic.clinic_number + '">' + clinic.clinic_name+ '</option>';
                }
                clinic_select.innerHTML = optionHTML;
            });

        });
    }
</script>

</html>