<link rel="stylesheet" href="../static/css/main.css">

<p id="success-message" class = "btn-success">
    Thank you for contacting us. We will be in touch with you very soon.
  </p>
<p id="error-message" class="btn-danger" >
    Unsuccessfull 
</p>
<div style="width:1000px; margin-left:auto;margin-right:auto; margin-bottom: 10px; background-color: azure; height: 276px; overflow: scroll;">
    <table class="table table-bordered">
        <tr>
    
        <th width="50%">Appointment Date</th>
        <th width="50%">Appointment Time</th>
        </tr>
        {% for row in ordersrange %}
            <tr>
            <td>{{row.app_date}}</td>
            <td class="app_time">{{row.app_time}}</td>
            <td><input class = "row-button" type="button" id = "row_select", value = "Al"></td>
            </tr>
        {% endfor %}
    </table>
</div>


<script>
    var doctor = document.getElementById('doctors').value
    var ssn = document.getElementById('ssn').value
    var desc = document.getElementById('desc').value
    var date = document.getElementById('From').value
    $(".row-button").click(function() {
        if(doctor != '' && ssn != '' && desc != '' && desc != ''  && date != ''){
        var $item = $(this).closest("tr")   // Finds the closest row <tr> 
                            .find(".app_time")     // Gets a descendent with class="nr"
                            .text();         // Retrieves the text within <td>
            // alert($item)      // Outputs the answer

            fetch('/sub_appointment/'+doctor+'/'+ssn+'/'+date+'/'+$item+'/'+desc).then(function(response){
                response.json().then(function(data){
                    result = data.result;
                    if(result == 'success'){
                        const thankYouMessage = document.getElementById('success-message');
                        thankYouMessage.classList.add('show');
                        
                        setTimeout(function() { thankYouMessage.classList.remove('show'); }, 5000);
                    }
                    else{
                        const errorMsg = document.getElementById('error-message');
                        errorMsg.classList.add('show');
                        setTimeout(function() { errorMsg.classList.remove('show'); }, 5000);
                    }
                });
            });;
        } 
        else{    
            alert("Please be sure all the fields are filled")
        }
    });
</script>